<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href='https://fonts.googleapis.com/css?family=Caveat+Brush' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include jQuery Popup Overlay -->
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>


    <link rel="stylesheet" href="style/index.css" type='text/css' />
    <meta name="theme-color" content="#eab608">
</head>

<body ng-app="SunnyApp" ng-cloak ng-controller="sunnyCtrl" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()">

    <md-button id="left" ng-click="previous();">&#10096;</md-button>
    <md-button id="right" ng-click="next();">&#10097;</md-button>

    <div layout="column">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">"It's Always Sunny in Philadelphia"</h2>
            </div>
        </md-toolbar>

        <md-content>
            <h2 id="title"></h2>
            <h3 id="episode"></h3>
            <h3 id="part" style="display: none;"></h3>

            <p id="desc"></p>
            <p id="lead"></p>
            <p id="guest"></p>
            <p id="writers"></p>
            <a id="link" target='_blank'></a>

            <br/><br/>
        </md-content>

        <div class="flexcontainer">
            <md-content>
                <md-button class="md-raised md-primary mobile" ng-click="getRandom()">Random episode</md-button>
            </md-content>

            <md-content>
                <!-- Lead Character -->
                <md-button class="md-raised md-primary mobile" ng-click="getRandomByLead(leadCharacter)">By {{leadCharacter}} as Lead Character</md-button>
                <md-radio-group ng-model="leadCharacter" layout="column" layout-align="center center">
                    <md-radio-button ng-repeat="char in characters" value="{{char}}">{{char}}</md-radio-button>
                </md-radio-group>
            </md-content>

            <md-content>
                <!-- Writer -->
                <md-button class="md-raised md-primary mobile" ng-click="getRandomByWriter(writer)">By {{writer}} as Writer</md-button>
                <md-select ng-model="writer">
                    <md-option class="md-primary" ng-repeat="w in writers | orderBy:'-count'" value="{{w.name}}">{{w.name}} ({{w.count}})</md-option>
                </md-select>
            </md-content>
        </div>

        <md-content>
            <blockquote>
                <!-- <b>Tip of the Day</b>
                <br/> -->
                <span id="tip"></span>
            </blockquote>
        </md-content>
    </div>

    <div id="help" class="modal">
        <div class="modal-content">
            <p>Thank you for checking out Always Sunny Episode Picker!</p>
            <p>If you have any suggestions or issues, please leave them <a class="md-primary" href="https://github.com/hawkins/always-sunny/issues">here!</a> :)</p>
            <md-button class="md-raised md-primary" onclick="$('#help').popup('hide')";>OK!</md-button>
        </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="js/sunny.json"></script>
    <script src="js/episodeDetails.js"></script>
    <script src="js/index.js"></script>
    <script>
    $(function () {
        $('#help').popup({
            transition: 'all 0.3s'
        });
        if (!localStorage['firstVisit'] || localStorage['firstVisit'] === 'false') {
            localStorage['firstVisit'] = 'true';
            $('#help').popup('show');
            console.log('Detected first time visitor! Welcome! :D');
        }
        function resetFirstVisit() {
            localStorage['firstVisit'] = 'false';
        }
    });
    </script>
</body>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
