html,
body {
    margin: 0px;
    overflow: auto;
    overflow-x: hidden;
    /*Mobile size*/
    font-size: 1.25em;
}

div.md-toolbar-tools,
md-toolbar {
    height: 100px;
}

h2.md-flex {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    /*Mobile size*/
    font-size: 32px;
    line-height: 1.5em;
}

body > div > md-content {
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

md-radio-button {
    margin-left: 25px;
    width: calc(100% - 50px);
    margin-right: 25px;
}


#left,
#right {
    position: fixed;
    font-size: 4em;
    margin: 0;
    height: 100%;
    width: 5%;
}
#left {
    left: 0px;
}

#right {
    right: 0px;
}

@media (min-width: 377px) {
    h2.md-flex {
        font-size: 48px !important;
        line-height: 1em !important;
    }
}

@media (min-width: 660px) {
    html,
    body {
        font-size: 1.1em;
    }

    h2.md-flex {
        font-size: 64px !important;
        line-height: 1.5em !important;
        white-space: nowrap;
    }

    body > div > md-content  {
        position: relative;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    md-radio-button {
        width: 240px;
    }
}
